<% layout('layout') %>

<a href="/book/new" class="btn btn-primary mb-3">Add Book</a>

<table class="table table-bordered">
<thead>
<tr>
<th>Title</th>
<th>Author</th>
<th>Genre</th>
<th>Rating</th>
<th>Review Date</th>
<th>Review</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
<% books.forEach(b=>{ %>
<tr>
<td><%= b.title %></td>
<td><%= b.author %></td>
<td><%= b.genre %></td>
<td><%= b.rating %></td>
<td><%= b.reviewDate.toISOString().split('T')[0] %></td>
<td><%= b.review %></td>
<td>
<a href="/books/<%= b._id %>" class="btn btn-info btn-sm">View</a>
<a href="/books/<%= b._id %>/edit" class="btn btn-warning btn-sm">Edit</a>

<form method="POST" action="/books/<%= b._id %>?_method=DELETE" style="display:inline">
<button class="btn btn-danger btn-sm">Delete</button>
</form>
</td>

</tr>
<% }) %>
</tbody>
</table>